/* Main Styling */

.mobile-title-show {
    display: none;
}

.mobile-platform-show, .mobile-platform-show.project-line {
    display: none;
}

figure#git-logo-light {
    display: none;
}

main h2, main h3, main p {
    display: block;
}

main h2 {
    font-size: 2.2rem;
}

main h3 {
    font-size: 1.6rem;
}

main a, main p {
    line-height: 1.8rem;
    font-size: 1.1rem
}

main a:link {
    text-decoration: underline;
}

main a:hover {
    font-weight: 500;
}

main a:active {
    text-decoration: none;
}

#projects-main {
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(40, 53, 80, 0.7), rgba(40, 53, 80, 0.9)), url(./media/daphnis-blur.png);
    background-size: cover;
    background-attachment: fixed;
}


/* Styles for section and full-row divs */
#title {
    height: 100px;
    background-color:#f3f1e8;
    color:#283550;
    line-height: 7rem;
    position: relative;
    top: -40px;
    padding-left: 30px;
}

.project-section {
    width: 100%;
    height: 350px;
}

.project-line {
    padding-left: 20px;
    display: flex;
    width: 50%;
    height: 350px;
}

#cxm {
    position: relative;
    top: -15px;

}

#phrase-gen {
    position: relative;
    top: 10px;
 
}

/* Styles for the Logo and Details blocks that appear in each row */

.project-line {
    min-width: 520px;
}

.background-dark {
    background-color: #283550;


}

.background-light {
    background-color: #f3f1e8;
    color: #003;
    float: right;
}

#cxm .background-dark {
    float: left;
}

#cxm .background-light {
    float: right;
}

#phrase-gen .background-dark {
    float: right;
}

#phrase-gen .background-light {
    float: left;
}

/* Details Class-level styling */

.project-details {
    margin: auto;
    width: 88%;
}

.store-link, .project-description {
    display: inline-block;
    max-width: 42%;
}

.store-link {
    margin-right: 30px;
}



/* Figure class-level styling */

figure.store-icon {
    width: 220px;
    height: auto;
    margin: 0;
    margin-left: -2px;
}

figure #git-logo {
    width: 170px;
    height: auto;
    margin-top: 10px;
    margin-left: -2px;
}

img.store-icon {
    width: 100%;
}

.logo-figure {
    display: block;
    margin: auto;
}

.logo-image {
    height: auto;
}

/* Figure ID-level styling*/

#cxm-logo {
    border-radius: 15px;
    width: 250px;
}

#codecademy-logo {
    width: 350px;
}